<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap v5.3.2 (CSS & JS) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>

    <!-- Boxicons (icons) -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- Font Awesome (icons)-->
    <script src="https://kit.fontawesome.com/58717d076a.js" crossorigin="anonymous"></script>

    <!-- Options -->
    <% if(frontend){ %>
      <link rel="stylesheet" href="<%= frontend %>" />
    <% } %>
    <% if(backend){ %>
      <script src="<%= backend %>" defer></script>          <!-- 'defer' atributte is to load the HTML first and then JS -->
    <% } %> 
    <% if(titlePage){ %>
      <title><%= titlePage %></title>
    <% } %>

    <link rel="stylesheet" href="/css/partials/main.css" />
    <link rel="icon" href="/img/logoo.png" />
    <script src="/js/navigation.js" defer></script>
  </head>
  <body>
    <%- include('./messages') %>

    <script>
      // Alerts
      document.addEventListener("DOMContentLoaded", () => {
        const alertsContainer = document.getElementById("alerts-container");

        const updateAlertPositions = () => {
          const alerts = alertsContainer.querySelectorAll(".alert");
          alerts.forEach((alert, index) => {
            alert.style.top = `${index * 0.01}rem`;
          });
        };

        updateAlertPositions();

        alertsContainer.addEventListener("click", (event) => {
          if (event.target.matches(".btn-close")) {
            const alert = event.target.closest(".alert");
            alert.addEventListener("transitionend", () => {
              alert.remove();
              updateAlertPositions();
            });
            alert.classList.remove("show");
          }
        });
      });
    </script>
  </body>
</html>
