<%- include('../partials/main', {
        titlePage: 'Tasks', 
        frontend: '/css/main/index.css', 
        backend: ''
    }) 
%>

<%- include('../partials/navigation') %>

<div class="container" style="margin-top: 20vh;">
    <div class="row align-items-center">
        <div class="col-3">
            <img src="/img/logo.png" class="img-fluid" height="250px" width="250px"></img>
        </div>
        <div class="col-8 fs-3 text-light" style="font-family: 'Courier New';">
            Tasks es una aplicación que te permite organizarte mejor, anotando las tareas que tienes por hacer en el día y durante la semana.
        </div>
    </div>
</div>



